tqdm~=4.67.1
requests~=2.32.5
hnswlib~=0.8.0
dotenv~=0.9.9
python-dotenv~=1.2.1
google-genai
numpy~=2.3.5
scikit-learn~=1.7.2
pyarrow~=21.0.0
fastparquet
pandas~=2.3.3
streamlit~=1.51.0
protobuf~=6.33.1
Flask~=3.1.2
flask-cors~=6.0.1